{% extends 'base.html' %}

{% block title %}Эксперименты с Django на Хекслете{% endblock %}

{% block content %}

<h1>Главная</h1>
<p>В предыдущем примере мы рассмотрели вертикальную панель навигации, которую чаще всего можно встретить на сайтах слева или справа от области с основным контентом. Однако меню с навигационными ссылками также часто располагается и по горизонтали в верхней части веб-страницы.

    Горизонтальное меню можно создать путем стилизации обычного списка. Свойству display для элементов <li> нужно присвоить значение inline, чтобы пункты списка располагались друг за другом.</p>

{% endblock %}